@{
    ViewBag.Title = "O projekcie";
}
<h2>@ViewBag.Title</h2>
<h3>Magazyn</h3>

<p>Jest to prosty projekt stworzony w celu zarządzania magazynem, aby zademonstrować, jak działa aplikacja ASP.NET.</p>
