@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<h4>Osoba Kontaktowa:</h4>
<address>
    <strong>Oleksandr Kovalchuk:</strong>   <a href="mailto:w61822@student.wsiz.edu.pl">w61822@student.wsiz.edu.pl</a><br />
</address>