@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Magazyn</h1>
    <p class="lead">Zobacz aktualne dokumenty na magazynie</p>
    <p><a href ="../Dokuments/Index" class="btn btn-primary btn-lg">Pokaż &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pracowniky</h2>
        <p>Tutaj znajdziesz podstawowe informacje o pracownikach</p>
        <p><a class="btn btn-default" href="../Pracowniks/Index">Pokaż &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Firmy</h2>
        <p>Jeśli chcesz zapoznać się z firmami obsługującymi nasz magazyn, kliknij</p>
        <p><a class="btn btn-default" href="../Firmas/Index">Pokaż &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Towary</h2>
        <p>
            Jeśli chcesz zapoznać się z towarami, kliknij
        </p>
        <p><a class="btn btn-default" href="../Towars/Index">Pokaż &raquo;</a></p>
    </div>
</div>